 

a {
     color: #333333;
     text-decoration: none;
}

a:hover {
     color: #DA4F49;
}

h1, h2, h3, h4, h5, h6 {
     color: inherit;
     font-family: '微软雅黑',Arial;
     font-weight:normal;
  
     margin: 10px 0px;
     text-rendering: optimizelegibility;
}

.navbar-inner {
    border-style: none;
    /*background-color: #006DCC;*/
    background-image: url(images/menu_bg.jpg); /*border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);*/
    color: #FFFFFF;
    height: 36px;
    line-height: 36px; /*text-shadow: 0px -1px 0px rgba(0, 0, 0, 0.25);*/
    border-radius: 0px;
}

.navbar .nav .active > a, .navbar .nav .active > a:hover {
     background: none repeat scroll 0% 0% transparent;
     color: #FFFFFF;
     text-decoration: none;
}

.navbar .nav > li > a {
     color: #FFFFFF;
     float: none;
     line-height: 19px;
   
     text-decoration: none;
     text-shadow: none;
     font-size:14px;
}
.navbar .nav li.dropdown > .dropdown-toggle .caret {
    border-bottom-color: #fff;
    border-top-color: #fff;
}

.form-actions {
     background-color: #FFFFFF;
     border-top: 1px solid #DDDDDD;
     margin-bottom: 18px;
     margin-top: 18px;
     padding: 17px 20px 18px;
}

input, textarea, select, .uneditable-input {
     margin-bottom: 3px;
}

.btn-toolbar {
     font-size: 0px;
     margin-bottom: 0px;
     margin-top: 0px;
}

.bs-docs-sidenav .icon-chevron-right {
     float: right;
     margin-right: -6px;
     margin-top: 2px;
     opacity: 0.25;
}
.breadcrumb{
    margin:0px;
}
.mainbox{
    background-color:#FFFFFF;
}
.nav-list > .active > a,.nav-list   a:hover, .nav-list > .active > a:hover, .nav-list > .active > a:focus {
  background: url("images/bglinkhover.jpg") repeat scroll 0 0 rgba(0, 0, 0, 0);
    color: #4a4a4a;
}
.nav-list > li > a:link,.nav-list > li > a:visited{
   background: url("images/bglink.jpg") repeat scroll 0 0 rgba(0, 0, 0, 0);
    color: #4a4a4a;
 }

.nav-list > li > a {
     display: block;
    font-size: 16px;
    line-height: 49px;
    padding-left: 22px;
    width: 238px;
 }
.nav-list > li > a:hover {
  background: url("images/bglinkhover.jpg") repeat scroll 0 0 rgba(0, 0, 0, 0);
    color: #4a4a4a;
  }
.well {
    background:none repeat scroll 0 0 #efefef;
    border:none;
    box-shadow:none;
 }
.nav{
    margin:0px;
}
.userinfo {
     border-radius: 5px 5px 5px 5px;
     margin-bottom: 2px;
     margin-top: 2px;
     padding-bottom: 8px;
     padding-top: 8px;
}
.form-horizontal .control-label {
    float: left;
    padding-top: 5px;
    text-align: right;
    width: 80px;
}

 
.form-horizontal .controls {
    margin-left: 100px;
    line-height:20px;
    vertical-align:middle;
}
.form-horizontal .control-group {
    margin-bottom: 3px;
}
.boxspace {
margin-top:10px;
}
.keywords,input[type=text],input[type=password] {
background-color: #ffffff;
    border: 0px solid #cccccc;
    box-shadow:none;
    transition:none;
    margin-bottom:0px;
    height:24px;

}
.tzgg{
    position:absolute ; height:93px; width:237px; top:251px; right:10px;background-image:url(images/tzgg_bg.png);
    
}
#Username{
    height:29px;
    background-image:url(images/login_username_bg.png);
    background-repeat:no-repeat;
    width:134px;
    padding-left:30px;
 
}
#pwd{
    height:29px;
     background-image:url(images/login_pwd_bg.png);
    background-repeat:no-repeat;
    width:134px;
    padding-left:30px;

}
.link{
    background-image:url(images/link_bg.png);
    background-repeat:no-repeat;
    height:240px;
    

}
.link .link1-1{
    margin-left:2px;
}
.link div{
    padding-top:40px;
       height:89px;
    width:73px;
    float:left;
    padding-left:3px;
}
.login {
    background-image:url(images/login_bg.png);
    background-repeat:no-repeat;
    padding-top:20px;
}
 
#maincontent {
     min-height:400px;
}
#newscontent {
    overflow:scroll;
}