<?xml version="1.0"?>
<configuration>
	<configSections>
		<section name="log4net" type="log4net.Config.Log4NetConfigurationSectionHandler, log4net"/>
  <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
   <section name="Web.My.MySettings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
  </sectionGroup>
 </configSections>
	<log4net>
		<root/>
		<logger name="Test">
			<level value="DEBUG"/>
			<appender-ref ref="rollingFile"/>
		</logger>
		<appender name="rollingFile" type="log4net.Appender.RollingFileAppender,log4net">
			<param name="File" type="" value="log/"/>
			<param name="AppendToFile" value="true"/>
			<param name="RollingStyle" value="Date"/>
			<param name="DatePattern" value="yyyyMMdd'.log'"/>
			<param name="StaticLogFileName" value="false"/>
			<layout type="log4net.Layout.PatternLayout,log4net">
				<param name="ConversionPattern" value="%d [%t] %-5p %c - %m%n"/>
				<param name="Header" value=" ----------------------header-------------------------- "/>
				<param name="Footer" value=" ----------------------footer-------------------------- "/>
			</layout>
		</appender>
	</log4net>
	<appSettings/>
	<connectionStrings>
		<add name="ConnectionString" connectionString="Data Source=10.128.50.113;Initial Catalog=school_hczx;Persist Security Info=True;User ID=sa;Password=82121700;Enlist=true;Pooling=true;Max Pool Size=2000;Min Pool Size=300;Connection Lifetime=300;packet size=3000 " providerName="System.Data.SqlClient"/>
	</connectionStrings>
	<system.web>
		<!-- 
            Visual Basic 选项:
            设置 strict="true" 可禁止所有可能导致 
            数据丢失的数据类型转换。
            设置 explicit="true" 可强制声明所有变量。
        -->
		<compilation debug="true" strict="false" explicit="true">
		</compilation>
		<!--
      通过 <authentication> 节，可配置 
      ASP.NET 用于识别进入用户的 
      安全身份验证模式。
    -->
		<authentication mode="Windows"/>
		<!--
       通过 <customErrors> 节，可以配置
       在执行请求的过程中出现未处理的错误时要执行 
       的操作。具体而言，
       开发人员通过该节可配置要显示的 html 错误页，
       以代替错误堆栈跟踪。

       <customErrors mode="RemoteOnly" defaultRedirect="GenericErrorPage.htm">
         <error statusCode="403" redirect="NoAccess.htm" />
         <error statusCode="404" redirect="FileNotFound.htm" /> controlRenderingCompatibilityVersion="3.5" clientIDMode="AutoID"
       </customErrors>
    -->
		<httpRuntime maxRequestLength="4900"/>
		<pages validateRequest="false">
			<namespaces>
				<clear/>
				<add namespace="System"/>
				<add namespace="System.Collections"/>
				<add namespace="System.Collections.Generic"/>
				<add namespace="System.Collections.Specialized"/>
				<add namespace="System.Configuration"/>
				<add namespace="System.Text"/>
				<add namespace="System.Text.RegularExpressions"/>
				<add namespace="System.Web"/>
				<add namespace="System.Web.Caching"/>
				<add namespace="System.Web.SessionState"/>
				<add namespace="System.Web.Security"/>
				<add namespace="System.Web.Profile"/>
				<add namespace="System.Web.UI"/>
				<add namespace="System.Web.UI.WebControls"/>
				<add namespace="System.Web.UI.WebControls.WebParts"/>
				<add namespace="System.Web.UI.HtmlControls"/>
			</namespaces>
		</pages>
	</system.web>
 <applicationSettings>
  <Web.My.MySettings>
   <setting name="Web_net_npsyzx_www_TokenService" serializeAs="String">
    <value>http://127.0.0.1/passport/TokenService.asmx</value>
   </setting>
  </Web.My.MySettings>
 </applicationSettings>
</configuration>
